.small_widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #BABABA;
    background-color: #FFFFFF;
    border-radius: 18px;
    border: solid 1px #FFFFFF;
    padding: 10px;
    width: 220px;
    height: 220px;
}

.widget_temp {
    display: flex;
    justify-content: space-between;
    align-self: end;
}

.city_name {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 22px;
}